image: docker:24.0.5

services:
  - docker:24.0.5-dind

variables:
  DOCKER_TLS_CERTDIR: "/certs"

stages:
  - build

build_frontend:
  stage: build
  script:
    # Connexion automatique au registre GitLab de l'ESIEA
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    # Build de l'image en ciblant le dossier frontend
    - docker build -t $CI_REGISTRY_IMAGE:latest ./frontend
    # Envoi de l'image pour que esiea.cloud puisse la voir
    - docker push $CI_REGISTRY_IMAGE:latest