stages: [build, docker]

maven_build:
  stage: build
  image: maven:3.9-eclipse-temurin-21
  script:
    - mvn -DskipTests clean package

docker_build:
  stage: docker
  image: docker:24
  services:
    - docker:24-dind
  script:
    - docker build -t backend:latest .
