stages:
  - build
  - deploy

# 1. Build & Push de l'image BACKEND
build-back:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - cd backend
    # On utilise le chemin complet du registre GitLab pour que l'image soit trouvable
    - docker build -t registry.esiea.fr/hackathon-zefallk/hackathon-zefallk:latest .
    - docker push registry.esiea.fr/hackathon-zefallk/hackathon-zefallk:latest
  only:
    - main

# 2. Build & Push de l'image FRONTEND
build-front:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - cd frontend
    # On utilise le même registre pour le front, le cloud fera le tri avec les tokens
    - docker build -t registry.esiea.fr/hackathon-zefallk/hackathon-zefallk:latest .
    - docker push registry.esiea.fr/hackathon-zefallk/hackathon-zefallk:latest
  only:
    - main

# 3. Déploiement automatique vers esiea.cloud
deploy-to-cloud:
  stage: deploy
  script:
    - |
      curl -X POST -H "Authorization: Bearer $BACK_ESIEA_TOKEN" https://api.esiea.cloud/deploy-back
      curl -X POST -H "Authorization: Bearer $FRONT_ESIEA_TOKEN" https://api.esiea.cloud/deploy-front
  only:
    - main