image: docker:24.0.5

services:
  - docker:24.0.5-dind

variables:
  DOCKER_TLS_CERTDIR: "/certs"

stages:
  - build
  - test
  - deploy

# --- JOB FRONTEND ---
build_frontend:
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "frontend"
      changes:
        - frontend/**/* # Ne se lance que si on touche au dossier frontend
  script:
    - echo " Construction du Front..."
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - cd frontend
    - docker build -t $CI_REGISTRY_IMAGE/frontend:latest .
    - docker push $CI_REGISTRY_IMAGE/frontend:latest

# --- JOB BACKEND ---
build_backend:
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "backend"
      changes:
        - backend/**/* # Ne se lance que si on touche au dossier backend
  script:
    - echo " Construction du Back..."
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - cd backend
    - docker build -t $CI_REGISTRY_IMAGE/backend:latest .
    - docker push $CI_REGISTRY_IMAGE/backend:latest

# --- JOB TEST ---
test_image:
  stage: test
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "frontend"
  script:
    # On lance l'image sur le port 80 (exigence esiea.cloud)
    - docker run -d --name test-app -p 80:80 $CI_REGISTRY_IMAGE/frontend:latest
    - sleep 5
    - apk add --no-cache curl
    # On vérifie que le serveur répond bien sur le port 80
    - curl --retry 3 --retry-delay 5 http://docker:80

# --- JOB DEPLOY ---
deploy_image:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "frontend"
  script:
    - apk add --no-cache curl
    - |
      curl -X POST https://esiea.cloud/api/deploy/restart \
      -H "Authorization: Bearer $ESIEA_CLOUD_TOKEN" \
      -H "Content-Type: application/json"
