stages:
  - build
  - deploy

# 1. Build & Push de l'image BACKEND
build-back:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - cd backend
    - docker build -t registry.esiea.fr/back .
    - echo "Image Backend construite pour le main"
  only:
    - main

# 2. Build & Push de l'image FRONTEND
build-front:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - cd frontend
    - docker build -t registry.esiea.fr/front .
    - echo "Image Frontend construite pour le main"
  only:
    - main

# 3. Déploiement automatique vers esiea.cloud
deploy-to-cloud:
  stage: deploy
  script:
    # On utilise les variables définies dans GitLab
    - curl -X POST -H "Authorization: Bearer $BACK_ESIEA_TOKEN" https://api.esiea.cloud/deploy-back
    - curl -X POST -H "Authorization: Bearer $FRONT_ESIEA_TOKEN" https://api.esiea.cloud/deploy-front
  only:
    - main